body {
    background-image: url(../Images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}

nav {
    background-color: rgba(14, 30, 37, 0.8);
    height: 5rem;
    position: fixed;
}

.navbar-brand {
    color: rgb(251, 251, 251);
    font-weight: 500;
}

.nav-item {
    margin-right: 1rem;
}

.navbar-nav .nav-item.active a {
    color: #009ad8;
    border: #009ad8 0.1rem solid;
    border-radius: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    padding: 5px 25px;
    border-radius: 30px;
    transition: all 0.3s;
    font-weight: 400;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    border: 2px solid #009ad8;
    color: #009ad8;
}

.card {
    width: 21rem;
}


.header-content {

    background-color: rgba(60, 98, 85,0.5);
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.after {
    border-radius: 0.8rem ;
    background-color: rgba(14, 30, 37, 0.6);

}

.after .header-content {
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: rgba(60, 98, 85,0.5);

}

.today {
    border-radius: 0.8rem ;
    background-color: rgba(14, 30, 37, 0.6);
}

.today .header-content {
    border-radius: 0.8rem 0.8rem 0 0;
}

.tommorow {
    background-color: rgba(14, 30, 37,0.8);
    border-left: 1px solid rgba(60, 98, 85,0.5) ;
    border-right: 1px solid rgba(60, 98, 85,0.5) ;
    border-radius: 0.8rem ;
    /* margin-right: 1rem; */
}

.tommorow .header-content {
    background-color: rgba(60, 98, 85,0.5);
    border-radius: 0.8rem 0.8rem 0 0;

}

.search-btn {
    position: absolute;
    top: 25%;
    right: 0.16%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}


.search-input {
    padding: 0.8rem;
    margin: 1rem;
    background-color: #1E202B;
    border-color: #1E202B;

}

.home .form-control:focus {
    background-color: #1E202B;
    border-color: #009ad8;
}

.footer {
    background-color: rgba(14, 30, 37, 0.8);
    padding: 2.62rem;
}

.iconz {
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(10, 21, 26,0.8);
    margin: 0.1rem;
}

.iconz i {

    background-color: #1E202B;
    color: #009ad8;

}

.iconz:hover {

    background-color: #009ad8;
    color: #ffffff;

}

.iconz:hover i {

    background-color: #009ad8;
    color: #ffffff;

}

.email-input {
    width: 80%;
    padding: 0.8rem;
    margin: 1rem;
}

.email-btn {
    position: absolute;
    right: 18%;
    top: 9%;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.newsPage {
    color: #afafaf;
    background-color: rgba(14, 30, 37, 0.8);
    font-family: 'Bree Serif', serif;
    width: 30%;
}

.newsPage h1 {
    color: #009ad8;
    font-size: 22px;
}

.newsPage p {
    font-size: 16px;

}

.newsPage a {
    text-decoration: none;
    color: #009ad8;
    transition: all 0.1s;

}

.newsPage a:hover {
    text-decoration: underline;
    color: #afafaf;
}

.homePill {
    background-color: rgba(14, 30, 37, 1);

}


.contact-box {
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(14, 30, 37, 0.8);
    border-radius: 2rem;
}

.contact-box p {
    font-family: 'Bree Serif', serif;
    font-size: 16px;

}

.form-inputs input, textarea {
    width: 43%;
    background-color: rgba(14, 30, 37, 1);
    border: 2px solid #393c48
}

.form-inputs input:hover, textarea:hover {
    background-color: rgba(14, 30, 37, 1);
    border: 2px solid #009ad8;
}


 .form-control:focus {
    background-color: rgba(14, 30, 37, 1);

}

.form-inputs textarea {
    border-radius: 2rem;
}